        body, html {
            height: 95vh;
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #f4f4f4;
        }
        .clock {
                height: 20vh;
                font-color: #333;
        }

:root.dark-mode {
    filter: invert(87%);
}
