body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;    /* change position in field */
    background-color: #f4f4f4;
}



h1 {
    margin: 20px 0;
    font-size: 45px;
}

textarea, input, .upload {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    font-size: 16px;
    transition: border-color 0.3s;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F6F6F6;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Added for positioning context */
    margin-bottom: 20px; /* Add space between content and buttons */
}





.button-container {
    position: absolute;
    top: 95%; /* Position below the .content field */
    left: 20px; /* Align with left border of .content */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-text-container {
    display: flex;
    align-items: flex-start;
}

.button-area {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Space between buttons and text */
    flex-shrink: 0; /* Prevents the button area from shrinking */
}

button:hover{
    border-color:#007bff;
}


.text-aarea {
    /* Style your text area as needed */
    font-size: 18px;
    flex-grow: 1; /* Allows the text area to take up the remaining space */
    max-width: 1000px; /* Maximum width of the text area */
}

button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s;
    width: 120px;
    
}


button:last-child {
    margin-bottom: 0;
}



textarea:focus, input:focus, .upload:focus {
    outline: none;
    border-color: #007BFF;
}




.large-textarea {
    width: 500px;
    height: 100px;
    resize: vertical; /* Allows vertical resizing */
}

.small-inputs {
    display: flex;
    justify-content: center;
}

.small-inputs input {
    width: 140px;
}

.upload {
    cursor: pointer;
    background-color: #f2f2f2;
    display: inline-block;
}

.upload input[type="file"] {
    display: none;
}

.upload label {
    cursor: pointer;
    display: block;
}


.bottom-text {
    position:absolute;
    top: 600px;
    left: 10px;
    right: 10px;
    display: flex;

}

.text-area {
    width: 300px;
    height: 350px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
    background-color: #f9f9f9;
}


.left {
    flex: 1;
    padding: 10px;
}

.right {
    flex: 1;
    /*padding: 10px;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;*/
    display: flex;
    flex-direction: column; /* Die Buttons werden unter dem Text angezeigt */ 
    align-items: center; /* Zentriert die Buttons horizontal */  
    text-align: center; /* Zentriert den Text und die Buttons vertikal */ 
} 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.group {
    margin-bottom: 10px;
}

.group span {
    margin-right: 5px;
}

#result {
    max-height: 400px;
    overflow-y: auto;
}

.group {
    margin-bottom: 10px;
    display: block;
}
